   <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="footer-brand">
                <h5 class="text-auction-gold">مزاداتي</h5>
                <p>نظام المزادات الإلكتروني الأول في الشرق الأوسط</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
              <h6>روابط سريعة</h6>
              <ul class="footer-links">
                <li><a href="#">المزادات</a></li>
                <li><a href="#">الفئات</a></li>
                <li><a href="#">كيف يعمل</a></li>
                <li><a href="#">الأسئلة الشائعة</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
              <h6>الدعم</h6>
              <ul class="footer-links">
                <li><a href="#">مركز المساعدة</a></li>
                <li><a href="#">اتصل بنا</a></li>
                <li><a href="#">الشروط والأحكام</a></li>
                <li><a href="#">سياسة الخصوصية</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <h6>تابعنا</h6>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <hr class="footer-divider">
          <div class="text-center">
            <p>&copy; 2025 مزاداتي. جميع الحقوق محفوظة.</p>
          </div>
        </div>
      </footer>